.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
}

.circle {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 30px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-inner {
  text-align: center;
  position: relative;
}

.day-count {
  font-size: 55px;
  font-weight: bold;
  color: orange;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.day-text {
  font-size: 35px;
  color: orange;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.flame-icon {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-150%, 40%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: white;
  color: orange;
  text-align: center;
  line-height: 60px;
  box-sizing: border-box; 
}

.days-of-week {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  max-width: 500px;
}

.day {
  font-size: 25px;
  font-weight: bold;
  margin: 4px;
  color: orange;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-card {
  height: 500px;
}

ion-content,
ion-card {
  background-color: #ffffff;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  
}

ion-card-content {
  font-size: 18px;
}
