<ion-content>
  <div class="background">
    <ion-card color="success-contrast">
      <ion-card-header>
        <h2>Terms and Conditions</h2>
      </ion-card-header>

      <ion-card-content>
        I have read and agree with
        <a href="">the User License Agreement</a> and
        <a href="">the User Terms and Policies</a>.
      </ion-card-content>

      <ion-button class="cancel" fill="outline"  color="danger" class="cancel" (click)="cancel()">CANCEL</ion-button>
      <ion-button class="agree" fill="solid" color="secondary" (click)="agree()">AGREE</ion-button>
    </ion-card>
  </div>
</ion-content>


